.App {
  max-width: 350px;
  margin: 20px auto;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.complete {
  text-decoration: line-through;
}

.delete-button {
  background-color: red;
  color: white;
  padding: 3px;
  float: right;
}

.delete-button:hover {
  cursor: pointer;
}

.form-div {
  text-align: center;
}

.form-div input {
  width: 250px;
}
